In [4]:
from datetime import date, datetime, timedelta

In [2]:
import csv

In [25]:
var = list()
temp1 = datetime.strptime('2018-09-01', '%Y-%m-%d').date()
for i in range(30):
    var.append(temp1.strftime('%Y-%m-%d'))
    temp1 = temp1 + timedelta(1)

In [26]:
var[0]

'2018-09-01'

In [21]:
row0 = r.next()
>>> row0.append('berry')
>>> print row0
['Name', 'Code', 'berry']
>>> for item in r:
...     item.append(item[0])
...     print item

In [36]:
import pandas as pd
v = open('result.csv', 'w')
w = csv.writer(v)
w.writerow(['priceDate'])

data = pd.read_csv('result.csv')
data

Empty DataFrame
Columns: [priceDate, minPrice, maxPrice]
Index: []